 <% include ../partials/header.ejs %>
<div class="container">
  <h1>Article List </h1>
  <% if(user) {%>
    <a href="/articles/new">Add New</a> 
  <% } %>
    <% for(var i=0; i<articles.length; i++) { %>
      <h1> <%= articles[i].title %> </h1>
      <h5>By <%= articles[i].author%> </h5>
      <h3><%= articles[i].summary%></h3>
      <a href="/article/<%=articles[i]._id%>" target="blank">Read More</a>
      <p>
        Posted by <%= articles[i].postedBy.username%>
      </p>
      <p>
        <% if(user && String(user._id) == articles[i].postedBy._id) {%>
        <a href="/articles/edit/<%=articles[i]._id%>"> Edit </a>
        <button onclick="deleteArticle(<%= i %>)">Delete</button>
        <% } %>
      </p>
    <% } %>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
   function deleteArticle(index){
     var articles = <%- JSON.stringify(articles) %>;
     var article_id = articles[index]._id;
     $.ajax({
          method:"DELETE",
          url:'/api/articles/'+article_id
     }).done(function(response){
          window.location.replace("/articles/all");
     }).fail(function(response){
          alert("Oops! Article not deleted.");
     });
   }
</script> 

<% include ../partials/footer.ejs %>