
<h1>Article List</h1>
<% console.log(articles) %>
<% var total = articles.length > 3 ? 3 : articles.length %>
  <% for(var i=0; i<total; i++) { %>
    <h1> <%= articles[i].title %> </h1>
    <h5>By <%= articles[i].author%></h5>
    <h3><%= articles[i].summary%></h3>
    <a href="<%=articles[i].link%>" target="blank">Read More</a>
    <p>
      Posted by <%= articles[i].postedBy.username%>
    </p>
  <% } %>
